<h2>One Way Mirror Snooping - file: user.htm</h2>
<h4 text="red">
You must be running the owm.js node.js server (port 3030) for this proof of concept to function.
</h4>
<p>
This sample page shows a drop-in script for real-time snooping of a user's actions with form controls.  It makes use of jQuery and socket.io JavaScript libraries on the client, and node.js with Express, socket.io, and several other modules on the server.  Any change on the snooped-on screen of an input or textarea control with a unique ID will automatically mirror to the snooper screen.  The javascript files at the bottom of the page are all that need to be included in the current form.  For testing purposes, if this page is located at http://localhost:3030/user.htm, you can snoop on it from http://localhost:3030/user.htm#anyhashstring
</p>
<p>
If the background of this page is gray, you're snooping.  If it's white, you're being snooped on.
</p>akes this cool?  The drop-in part.  Add/change form elements, add the script files to another page, etc...it should still work 
<p>
The node.js server will receive and emit socket messages to and from any modern browser that can access it (not just local to the machine).  Real-time applications could include a sales or customer service rep following a customer having trouble with a form.  It also logs each received socket message.  This is for a future playback feature (both timed as well as step-through), as well as for statistical analysis which would be particularly helpful with A/B testing to determine the most effective control layout, tab order, wording, etc.  It can also be expanded (with additional code) to snoop on other page element interactions, such as a user resizing their browser window.
</p>
<p>
To advance beyond proof of concept, user sessions -- which are already logged by the server -- would need to be presented to the snooper in a manner making clear the context of what they are seeing.
</p>

<p>

<form name="test">

    Sample text:  
 
  <input type="text" name="sampleText" id="sampleText">
 
    <br />
    Sample radio: 
 
  <input type="radio" name="sampleRadio" id="sampleRadioA" value="sampleRadioA"> A | 
  <input type="radio" name="sampleRadio" id="sampleRadioB" value="sampleRadioB"> B
 
    <br />
    Sample checkbox:
 
  <input type="checkbox" id="sampleCheckbox" value="sampleCheckbox">
 
    <br />
    Sample select:
 
  <select id="sampleSelect">
    <option value="sampleSelectA"> A </option>
    <option value="sampleSelectB"> B </option>
    <option value="sampleSelectC"> C </option>
  </select>
 
    <br />
    Sample textarea:
 
  <textarea id="sampleTextarea"></textarea>
 
    <br />
 
  <input type="submit" id="sampleSubmit" value="Sample Submit" onclick="$(this).attr('value', 'Submitted!');$(this.parentElement.children).prop('disabled', true);return false;">

</form>

</p>

<!-- Drop these at the bottom of a page to snoop -->
<script src="socket.io/socket.io.js"></script>
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/owm_user.js"></script>
